<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="heart" color="danger" style="vertical-align: text-bottom; margin-right: 5px;"></ion-icon>
      My Favourites
    </ion-title>
    <ion-buttons slot="end">
      @if (favouriteMovies.length > 0) {
        <ion-button color="danger" (click)="clearAll()">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Clear All
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (favouriteMovies.length === 0) {
    <div style="text-align: center; padding-top: 50px;">
      <ion-icon name="heart-outline" style="font-size: 64px; color: #ccc;"></ion-icon>
      <p>You haven't saved any movies yet!</p>
      <ion-button fill="clear" routerLink="/home">Browse Movies</ion-button>
    </div>
  }

  <ion-grid>
    <ion-row>
      @for (movie of favouriteMovies; track movie.id) {
        <ion-col size="6" size-sm="4" size-md="3" size-lg="2" size-xl="2">
          <ion-card style="margin: 0; height: 100%; display: flex; flex-direction: column;">
            @if (movie.poster_path) {
              <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [routerLink]="['/movie-details', movie.id]" style="cursor: pointer; flex-grow: 1; object-fit: cover;" />
            }
            <ion-card-header style="padding: 10px;">
              <ion-card-title style="font-size: 1rem; display: flex; justify-content: space-between; align-items: center;">
                <span [routerLink]="['/movie-details', movie.id]" style="cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                  {{ movie.title }}
                </span>
                <ion-icon name="heart" color="danger" style="cursor: pointer; flex-shrink: 0; margin-left: 5px;" (click)="removeFromFavourites(movie.id)"></ion-icon>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>