<ion-header>
  <ion-toolbar>
    <ion-title>{{ studentNumber }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
    [(ngModel)]="searchTerm" 
    (ionInput)="onSearchChange($event)" 
    placeholder="Search everything..." 
    shape="round" 
    animated="true"
    style="max-width: 600px; margin: 0 auto; padding: 15px 10px;">
  </ion-searchbar>

  <h3 style="padding: 0 16px;">
    {{ searchTerm === '' ? "Today's Trending Movies" : searchTerm + " Movies" }}
  </h3>

  <ion-card *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">
    <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Movie Poster" />
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>
  </ion-card>
</ion-content>